.primary-button {
  background-color: $primary-color;
  border: none;
  color: white;
  font-weight: bold;
  font-size: medium;
  padding: 15px 70px;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: darken($primary-color, 5%);
  }
}
.secondary-button {
  background-color: transparent;
  border: none;
  color: $text-color-secondary;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  font-weight: 400;
  font-size: medium;
  padding: 15px 40px;
  cursor: pointer;
}