@import "~/src/assets/styles/variables.scss";

.header {
  display: flex;
  z-index: 100;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    z-index: 5;
    li {
      cursor: pointer;
      position: relative;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 30px;
      transition: 0.3s;

      &:hover:not(.contact) {
        color: $primary-color;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0px;
        left: 0;
        background-color: $primary-color;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
    }



  }
}
.header__brand {
  cursor: default;
  font-weight: bolder;
  font-size: 25px;
  label {
    font-weight: normal;
    font-size: 12px;
  }
}
.header__brand_mobile {
  @media only screen and (max-width: 992px) {
    width: 100%;
    justify-content: space-between;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.header__nav_mobile {
  z-index: 100;

  position: fixed;
  background-color: $background-color;
  box-shadow: 0 0 10px #ccc;
  bottom: 90px;
  border-radius: 20px;
  padding: 10px 15px;
  right: 10px;
  display: flex;
  flex-direction: column;
  /*
  @media only screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    align-items: end;
  }
  */
}
.header__nav_mobile_hidden {
  @media only screen and (max-width: 992px) {
    display: none;
  }
}
.header__element {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 30px;
  transition: 0.3s;

  &:hover:not(.header__contact) {
    color: $primary-color;
  }
  display: inline-block;

  &:not(.header__element_active):after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.header__element_active {
  border-bottom: 2px solid $primary-color;
  color: $primary-color;
  transition: 0s;
}
.header__contact {
  cursor: default;
  display: flex;
  justify-self: end;
  flex-direction: column;
  padding: 10px 0px;
  font-weight: bold;
  color: $secondary-color;
  label {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
  }
}
.header_active {
  color: $primary-color;
  position: relative;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;

  // border-bottom: 2px solid $primary-color;
}