.trainersImageCard {
  box-shadow: 0 0 10px #ccc;
  img {
    width: 100%;
    object-fit: contain;
  }
  h6 {
    color: black;
  }
}
.trainersImageCard__show_info_on_hover {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}