@import "../variables.scss";

.contactElementAddress {
  background-image: url("~/src/assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px #ccc;
  border-radius: 4px;
}
.contactElementAddress__divider {
  border-bottom: 0.5px solid rgba($color: $text-color-secondary, $alpha: 0.2);
}
.contactElementAddress__copied_message {
  visibility: hidden;
}
.contactElementAddress__copy_icon {
  outline: none !important;
  cursor: pointer;
  transition: 0.2s;
  &:active {
    transform: scale(1.2);

  }
}
.contactElementAddress__iframe {
  border:0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
