.contactElement {
  position: relative;
  cursor: pointer;
  text-align: center;
  &:hover {
    .contactElement__info {
      visibility: visible;
      height: 100%;
      padding-bottom: 50px;
    }
    .contactElement__copy_icon {
      visibility: visible;
    }
  }
  h6, small {
    color: black;
    line-height: 10px;
  }
}